doctype html
html
    head
        title Page #{name}
        meta(charset='utf-8')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')

    body
        div.w-full.d-flex.flex-column.justify-center.align-items-center.mt-3
            h1 Please click to confirm Registration !
            a.btn.btn-primary(href=`http://localhost:3000/confirm/${token}`) Confirm Registration
