doctype html
html
    head
        title Page #{name}
        meta(charset='utf-8')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
    body
        div.w-full.d-flex.flex-column.justify-center.align-items-center.mt-3
            h1 Forgot password
            form.w-75.mx-auto.mt-5(method='POST' action='/signin')
                div.form-group
                    label(for='user') Username:
                    input#user.form-control(type='text', placeholder='Username...' name='name')
                button.btn.btn-primary(type='submit') Send mail
