doctype html
html
    head
        title Page #{name}
        meta(charset='utf-8')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')

    body
        a.btn.btn-primary.m-2(href=`http://localhost:3000/signin`) Signin
        a.btn.btn-primary.m-2(href=`http://localhost:3000/signup`) Signup

        div.w-full.d-flex.flex-column.justify-center.align-items-center
            if positive
                h3.text-success #{message}
            else
                h3.text-danger #{message}
